/* .container {
    width: 100%;
} */

.movie {
    display: flex;
    align-items: center;
}

.img-movie {
    margin-top: 10px;
    flex: 0.5;
}

.movie-info {
    margin-left: 5px;
    margin-top: 20px;
}

.post {
    align-items: center;
    
}

.body-post{
    background-color: rgb(253, 212, 218);

}

.post-info {
    margin-left: 20px;
}

.post-action {
    display: flex;
    justify-content: center;


}

.form-content {
    width: 100%;
}