.list-group-item {
    width: 50%;

}

.list-group {
    width: 47%;
    position: absolute;
}

.form-control {
    width: 100%;
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 95px;
}