@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* "d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    flex: 'd-flex ';
    align-items: center;
    justify-content: center;
    /* color: black; */
}

.menu-text a:hover {
    background: red;
}

.profile-form{
    align-items: left;
    justify-content: left;

}

.search-bar{
    z-index: 1;
    position: relative;
}