.img-rounded {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(50vh - 200px);
}

.user-info {
  display: flex;
  /* flex: 1; */
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.info {
  margin-top: 10px;
  text-align: center;
}

.info-text {
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
}

.img-user {
  margin-top: 10px;
  /* flex: 0.5; */
}

.form-control {
  height: 100%;
}

.post {
  display: flex;
  align-items: center;

}

.img-post {
  flex: 0.5;
  justify-content: center;
}

.post-info {
  flex: 2;
  margin-left: 20px;
}

.post-action {
  display: flex;

}