/* login css */
body {
    /* background: white !important; */
    color: black ;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
}

.container {
    color: black;
    width: 96%;
    text-align: center;
    max-width: 1200px;
    margin: 10px auto;
}

.container-login {

    color: black;
    width: 96%;
    max-width: 500px;
    /* margin:120px 100px 0 auto; */
    margin-top: 250px;
    margin-left: 240px;
    padding: 20px;
}

.card-login {
    box-shadow: 0px 2px 4px white;
}

.container-signup {

    color: black;
    width: 96%;
    max-width: 500px;
    margin: 100px auto;
}

.row {
    margin: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 48px;
}

.home-header-signin {
    text-align: center;
    justify-content: center;
    margin-top: 250px;
    margin-left: 250px;
}